<div class="pi-card" pi-class-hover="pi-card--hover">
    <span class="pi-card__date" am-time-ago="article.datePublished"></span> <span class="pi-card__tag" ng-repeat="keyword in article.keywords" ng-bind="keyword"></span>
    <div class="pi-card__thumb">
        <a ng-style="{'background-image': 'url({{article.image}})'}" class="pi-card__thumb-anchor" ui-sref="article-view({name: article.urlName, id: article.id})"></a>
        <div class="pi-card__content">
            <p ng-bind="article.headline"></p>
        </div>
    </div>
    <ul class="pi-card__social" ng-if="showSocial">
        <li>
            <a href="javascript:void(0)"><i class="icon ion-social-facebook"></i></a>
            <span class="pi-card__social-count">0</span>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="icon ion-social-twitter"></i></a>
            <span class="pi-card__social-count">0</span>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="icon ion-social-googleplus"></i></a>
            <span class="pi-card__social-count">0</span>
        </li>
    </ul>
    <div class="pi-card__info">
        <a class="pi-card__title" ui-sref="article-view({name: article.urlName, id: article.id})" ng-bind="article.name"></a>
    </div>
</div>
