<div class="view-1">
    <div class="view-1__side">
        <button pi-media-upload-trigger ng-model="ctrl.model.image">Choose Image</button>
        <img ng-show="ctrl.model.image != ''" ng-src="{{ctrl.model.image}}" />
    </div>
    <div class="view-1__content">
        <div class="pi-form__wrapper">
            <form class="fit-form" name="createForm">
                <div class="pi-form__group">
                    <input class="pi-form__control" type="text" required class="pi-form__group-control" placeholder="Título da Notícia" ng-model="ctrl.model.name" />
                </div>
                <div class="pi-form__group">
                    <select ng-model="ctrl.categorySelect" class="pi-form__control" ng-options="option.displayName for option in $root.articleCategories track by option.id">
                    </select>
                </div>
                <div class="pi-form__group">
                    <select ng-model="ctrl.stateSelect" class="pi-form__control" ng-options="option.name for option in $root.eventStates track by option.id">
                    </select>
                </div>
                <div class="pi-form__group">
                    <tags-input ng-model="ctrl.model.keywords"></tags-input>
                </div>
                <div class="pi-form__group">
                    <input placeholder="Um exerpto da Notícia" required class="pi-form__control" type="text" ng-model="ctrl.model.headline" />
                </div>
                <div class="pi-form__group">
                    <div placeholder="O conteúdo principal da Notícia" text-angular  ng-model="ctrl.model.articleBody"></div>
                </div>
                <div class="pi-form__footer">
                    <button ng-disabled="createForm.$invalid || createForm.$pristine" ng-click="ctrl.create()">Criar</button>
                </div>
            </form>
        </div>
    </div>
</div>
