<div class="view-1">
    <div class="view-1__side">
        <div class="upload-thumbnail" upload-thumbnail ng-model="ctrl.model.image"></div>
        <span article-state-badge ng-model="ctrl.state"></span>
    </div>
    <div class="view-1__content">
        <div class="fit-form__wrapper">
            <form class="fit-form" name="createForm">
                <div class="fit-form__group">
                    <input type="text" required class="pi-form__control" placeholder="Título da Notícia" ng-model="ctrl.model.name" />
                </div>
                <div class="fit-form__group">
                    <input placeholder="Um exerpto da Notícia" required class="pi-form__control" type="text" ng-model="ctrl.model.headline" />
                </div>
                <div class="fit-form__group">
                    <ui-select required ng-model="ctrl.categorySelect" theme="selectize">
                        <ui-select-match placeholder="Localidade">{{$select.selected.displayName}}</ui-select-match>
                        <ui-select-choices repeat="cat in $root.categories | filter: $select.search">
                            <span ng-bind="cat.displayName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="fit-form__group">
                    <div placeholder="O conteúdo principal da Notícia" text-angular  ng-model="ctrl.model.articleBody"></div>
                </div>
                <div class="fit-form__footer">
                    <button ng-click="ctrl.remove()">Apagar</button>
                    <button ng-click="ctrl.save()">Guardar Alterações</button>
                </div>
            </form>
            <div class="fit-form__guide">Ajuda no plano de nutrição</div>
        </div>
    </div>
</div>