<div class="view-small">
    <div class="pi-form__wrapper">
        <form class="fit-form" name="createForm">
            <div class="pi-form__group">
                <select ng-model="ctrl.categorySelect" class="pi-form__control" ng-options="option.displayName for option in $root.articleCategories track by option.id">
                </select>
            </div>
            <div class="pi-form__footer">
                <button pi-btn-save ng-disabled="createForm.$invalid || createForm.$pristine" ng-click="ctrl.save()">Save Changes</button>
            </div>
        </form>
    </div>
</div>