<table infinite-scroll="ctrl.query()" infinite-scroll-disabled="ctrl.queryModel.busy" infinite-scroll-immediate-check="true" class="pi-table pi-table-data">
	<thead class="pi-table__head">
		<tr>
			<td>Title</td>
			<td>Author</td>
			<td>Published</td>
			<td>Modified</td>
			<td>State</td>
			<td>Category</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr class="ng-cloak" ng-show="ctrl.results.length === 0"><td>No events to display.</td></tr>
		<tr ng-repeat="event in ctrl.results">
	  		<td><span ng-bind="event.title"></span></td>
	  		<td><div admin-author entity="event.author"></div></td>
	  		<td><span ng-bind="event.datePublished"></span></td>
	  		<td><span ng-bind="event.dateModified"></span></td>
	  		<td><span article-state-badge ng-model="event.state"></span></td>
	  		<td><span ng-bind="event.category.displayName"></span></td>
	  		<td class="pi-table__action-col">
	  			<button ui-sref="admin-event-save({id: event.id})">Editar</button>
	  			<button ui-sref="admin-event-state({id: event.id})">Estado</button>
	  			<button ui-sref="admin-event-category-change({id: event.id})">Categoria</button></td>
		</tr>
	</tbody>
</table>
